
#redditLinkContainer {
    padding: 20px 0px 20px 0px;
}


#addSubredditDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}

#multipleSubsLabelDiv {
    padding-bottom: 15px;
}

#subredditAddedStatus {
padding-top:20px;
}

.imgYtThumbnail {
    width: 90%;
}

.ytVidRow {
    padding-top: 5px;
}

.ytVidInfo {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

#addYouTubeChannelDiv {
    padding-top:5px;
}

#ytChannelsTable {
    
}
#ytChannelsTable_wrapper {
    padding-top: 10px;
}