
#redditLinkContainer {
    padding: 20px 0px 20px 0px;
}


#addSubredditDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}

#multipleSubsLabelDiv {
    padding-bottom: 15px;
}

#subredditAddedStatus {
padding-top:20px;
}

.imgYtThumbnail {
  
    
}

.ytVidRow {
   
}

.ytVidInfo {
overflow:hidden;
}