@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <div class="col-md-3">
        <h1>AccountLess</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Sites</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Reddit", "Reddit", "Sites")
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("YouTube (coming soon)", "YouTube", "Sites")
    </div>
</div>
          